
:root {
	--pixelsize : 20;
	background-color: #39ac73;
	font-size: 10px;
	box-sizing: border-box;
	font-family: arial, sans-serif;
	margin-left: 25px; 
}

h1 {
	text-align: center;
	font-size: 5rem;
	background-color: #39ac73;
	color: #fff;
}


.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	display: grid;
	width: 500px;
	height: 460px;
	border: 4.5rem solid #c9b114;
	border-radius: 25px;
	grid-template-columns: repeat(var(--pixelsize), 1fr);
	grid-template-rows: repeat(var(--pixelsize), 1fr);
	margin-left: 100px;
	box-shadow: 20px 20px 30px black

}

.controls{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #c9b114;
	height: 300px;
	width: 150px;
	padding: 30px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 20px 20px 30px black
}


.board > div {
  background-color: white;
  border-width: 0px 0 1px 1px;
  border-style: dashed;
  border-color: grey;
  border-radius: 2px;
}

input, button {
	margin: 30px;
}

.slider{
	-webkit- appearence: none;
	width: 10rem;
	height: 2rem;
}


